@use "../base" as *;

.timer {
  display: flex;
  color: var(--c-light);
  font-size: 2rem;
  line-height: 1.5em;
  font-family: $ff-secondary;
  max-width: 90.4375rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px;
  font-weight: $fw-regular;
  font-size: clamp(
    32px,
    (144 - 32) * (100vw - 380px) / (1280 - 380) + 32px,
    144px
  );

  @media (min-width: $md) {
    justify-content: space-between;
    -webkit-text-stroke: 2px var(--c-light);
    color: transparent;
    font-weight: $fw-semibold;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex: 0 0 25%;
  }
  &__seconds {
    width: 2ch;
  }
}
