include ../mixins/table-events
- 
    const table_data = {
    "thead": ["Time", "Content", "Speakers", ""],
    "trows": [
        {   
            "td_time": "11:00 AM to 12:00 PM",
            "td_content": "Vestibulum vel eros vel metus lacinia feugiat a nec metus.",
            "td_speakers": [
                {
                    "img": 'ava-1',
                    "title": "Yui Ronald",
                    "sub_title": "Booth: <span class='label'>2F12</span>",
                }
            ],
            "td_icon": "Preview"
        },
        {
            "td_time": "12:00 PM to 03:00 PM",
            "td_content": "Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna. Vestibulum ornare eget urna nec pulvinar. Praesent porttitor convallis blandit. Fusce vel egestas dolor. Donec eu augue enim. Donec rutrum non lacus ac rhoncus. Morbi quis luctus leo, nec cursus ex.",
            "td_speakers": [
                {
                    "img": 'ava-2',
                    "title": "Bob John",
                    "sub_title": "Booth: 3G12"
                },
                {
                    "img": 'ava-1',
                    "title": "Yui Ronald",
                    "sub_title": "Booth: 2F12"
                },
                {
                    "img": 'ava-3',
                    "title": "Emma Satoshi",
                    "sub_title": "Booth: 2A35"
                }
            ],
            "td_icon": "Live"
        },
            {
            "td_time": "03:00 PM to 04:00 PM",
            "td_content": "Vestibulum vel eros vel metus lacinia feugiat a nec metus. ",
            "td_speakers": [
                {
                    "img": 'ava-4',
                    "title": "Sasha Jackson",
                    "sub_title": "Booth: 2F18"
                },
                {
                    "img": 'ava-5',
                    "title": "Diana Brock",
                    "sub_title": "Booth: 2F24"
                }
            ],
            "td_icon": "Upcoming"
            },
        ]
    }

- 
    const table_data_2 = {
    "thead": ["Time", "Content", "Speakers", ""],
    "trows": [
        {
            "td_time": "12:00 PM to 03:00 PM",
            "td_content": "Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna. Vestibulum ornare eget urna nec pulvinar. Praesent porttitor convallis blandit. Fusce vel egestas dolor. Donec eu augue enim. Donec rutrum non lacus ac rhoncus. Morbi quis luctus leo, nec cursus ex.",
            "td_speakers": [
                {
                    "img": 'ava-2',
                    "title": "Bob John",
                    "sub_title": "Booth: 3G12"
                },
                {
                    "img": 'ava-1',
                    "title": "Yui Ronald",
                    "sub_title": "Booth: 2F12"
                },
                {
                    "img": 'ava-3',
                    "title": "Emma Satoshi",
                    "sub_title": "Booth: 2A35"
                }
            ],
            "td_icon": "Live"
        },
        {
            "td_time": "03:00 PM to 04:00 PM",
            "td_content": "Vestibulum vel eros vel metus lacinia feugiat a nec metus. ",
            "td_speakers": [
                {
                    "img": 'ava-4',
                    "title": "Sasha Jackson",
                    "sub_title": "Booth: 2F18"
                },
                {
                    "img": 'ava-5',
                    "title": "Diana Brock",
                    "sub_title": "Booth: 2F24"
                }
            ],
            "td_icon": "Upcoming"
            },
                {
            "td_time": "11:00 AM to 12:00 PM",
            "td_content": "Vestibulum vel eros vel metus lacinia feugiat a nec metus.",
            "td_speakers": [
                {
                    "img": 'ava-1',
                    "title": "Yui Ronald",
                    "sub_title": "Booth: <span class='label'>2F12</span>",
                }
            ],
            "td_icon": "Preview"
        },
        ]
    }

- 
    const table_data_3 = {
    "thead": ["Time", "Content", "Speakers", ""],
    "trows": [
        {
            "td_time": "11:00 AM to 12:00 PM",
            "td_content": "Vestibulum vel eros vel metus lacinia feugiat a nec metus.",
            "td_speakers": [
                {
                    "img": 'ava-1',
                    "title": "Yui Ronald",
                    "sub_title": "Booth: <span class='label'>2F12</span>",
                }
            ],
            "td_icon": "Preview"
        },
        {
            "td_time": "12:00 PM to 03:00 PM",
            "td_content": "Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna. Vestibulum ornare eget urna nec pulvinar. Praesent porttitor convallis blandit. Fusce vel egestas dolor. Donec eu augue enim. Donec rutrum non lacus ac rhoncus. Morbi quis luctus leo, nec cursus ex.",
            "td_speakers": [
                {
                    "img": 'ava-3',
                    "title": "Emma Satoshi",
                    "sub_title": "Booth: 2A35"
                }
            ],
            "td_icon": "Live"
        },
            {
            "td_time": "03:00 PM to 04:00 PM",
            "td_content": "Vestibulum vel eros vel metus lacinia feugiat a nec metus. ",
            "td_speakers": [
                {
                    "img": 'ava-4',
                    "title": "Sasha Jackson",
                    "sub_title": "Booth: 2F18"
                },
                {
                    "img": 'ava-5',
                    "title": "Diana Brock",
                    "sub_title": "Booth: 2F24"
                }
            ],
            "td_icon": "Upcoming"
            },
        ]
    }

section.section.events
    .container.events__container
        .confetti-triangle.lg-visible 
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="55" fill="none"><path stroke="#FC5252" stroke-width="4" d="m4.005 27.635 41-23.589.07 47.3-41.07-23.711Z"/></svg>
        .zigzag-bd.lg-visible.lg-visible
        .zigzag-bd.zigzag-bd_rotated.lg-visible
        .confetti-circle.lg-visible
        h2 
            | Event 
            span.c-blue Schedule
        .events__schedule(data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false")
            .events__tablist(role="tablist")
                button(id="tab-1" class="events__tab" type='button' role="tab" aria-controls="tabpanel-1") 
                    | Day 01
                    span.events__tab-label 16 August
                button(id="tab-2" class="events__tab" type='button' role="tab" aria-controls="tabpanel-2") 
                    | Day 02
                    span.events__tab-label 17 August
                button(id="tab-3" class="events__tab" type='button' role="tab" aria-controls="tabpanel-3") 
                    | Day 03
                    span.events__tab-label 18 August
            .events__tabpanels
                #tabpanel-1(class = "events__panel" role="tabpanel" aria-labelledby="tab-1")
                    +table_events(table_data)
                #tabpanel-2(class = "events__panel" role="tabpanel" aria-labelledby="tab-2")
                    +table_events(table_data_2)
                #tabpanel-3(class = "events__panel" role="tabpanel" aria-labelledby="tab-3")
                    +table_events(table_data_3)