meta(charset="utf-8")
title Music 
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="title" content="Ultimate Music Event | Top DJs & Live Performances")
meta(name="description" content="Enjoy an unforgettable atmosphere, world-class DJs, electrifying live performances, and pure sound at the ultimate music event experience.")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="music event, live music, top DJ, electronic music, party, concert, live performances, club night, unforgettable atmosphere, dance event, sound system, nightlife, DJ lineup, music festival, pure sound")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Raleway:wght@400;600&display=swap" rel="stylesheet")
link(rel="stylesheet" media="all" href="@css/index.css")
link(rel="stylesheet" media="all" href="css/vendor.css")
title Music
