include ../mixins/sprite

nav.nav-box#nav-box
    button(class = "btn-close lg-hidden" type="button" aria-label="Get tickets for the event" data-trigger="close" data-target="#nav-box")
    include disclosure-nav


