section.section.prices
    .zigzag-bd.zigzag_rotated.lg-visible
    .container
        h2.heading-section 
            span.c-blue Choose 
            | a Tier that’s right for you
        ul.prices__list
            li.prices__item.prices__item_basic(data-aos="fade-left" data-aos-offset="250" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false")
                h3.prices__item-heading Basic
                .h1.prices__cost.c-dark $100
                ul.prices__info
                    li.prices__info-item.c-dark 1 Seat Available
                    li.prices__info-item Access to Wifi Router
                    li.prices__info-item Free Food & Coffee
                button.btn.btn_bordered Get Tickets

            li.prices__item.prices__item_standart(data-aos="fade-left" data-aos-offset="250" data-aos-delay="150" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false")
                h3.prices__item-heading Standard
                .h1.prices__cost.c-blue $150
                ul.prices__info
                    li.prices__info-item.c-dark 1 Seat Available
                    li.prices__info-item.c-dark Access to Wifi Router
                    li.prices__info-item Free Food & Coffee
                button.btn.btn_brand Get Tickets

            li.prices__item.prices__item_premium(data-aos="fade-left" data-aos-offset="250" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false")
                h3.prices__item-heading Premium
                .h1.prices__cost.c-red $200
                ul.prices__info
                    li.prices__info-item.c-dark 1 Seat Available
                    li.prices__info-item.c-dark Access to Wifi Router
                    li.prices__info-item.c-dark Free Food & Coffee
                button.btn.btn_bordered Get Tickets