section.section.testimonials

    h2 Testimonials
    #carousel-scroll.carousel-scroll
        ul#testimonials__list.testimonials__list
            li.testimonials__item
                article.testimonials__article
                    .testimonials__content
                        p.testimonials__txt 
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    .testimonials__author
                        img(src="@img/jpg/ava-testimonial-1.jpg" width="120" height="120" alt="user photo").testimonials__avatar 
                        .testimonials__name Johnny Doe
                        .testimonials__link lorem.com
            li.testimonials__item
                article.testimonials__article
                    .testimonials__content
                        p.testimonials__txt 
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    .testimonials__author
                        img(src="@img/jpg/ava-testimonial-2.jpg" width="120" height="120" alt="user photo 2").testimonials__avatar 
                        .testimonials__name Johnny Doe
                        .testimonials__link lorem.com
            li.testimonials__item
                article.testimonials__article
                    .testimonials__content
                        p.testimonials__txt 
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    .testimonials__author
                        img(src="@img/jpg/ava-testimonial-3.jpg" width="120" height="120" alt="user photo 3").testimonials__avatar 
                        .testimonials__name Johnny Doe
                        .testimonials__link lorem.com
            li.testimonials__item
                article.testimonials__article
                    .testimonials__content
                        p.testimonials__txt 
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    .testimonials__author
                        img(src="@img/jpg/ava-testimonial-1.jpg" width="120" height="120" alt="user photo").testimonials__avatar 
                        .testimonials__name Johnny Doe
                        .testimonials__link lorem.com
            li.testimonials__item
                article.testimonials__article
                    .testimonials__content
                        p.testimonials__txt 
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    .testimonials__author
                        img(src="@img/jpg/ava-testimonial-2.jpg" width="120" height="120" alt="user photo 2").testimonials__avatar 
                        .testimonials__name Johnny Doe
                        .testimonials__link lorem.com
            li.testimonials__item
                article.testimonials__article
                    .testimonials__content
                        p.testimonials__txt 
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    .testimonials__author
                        img(src="@img/jpg/ava-testimonial-3.jpg" width="120" height="120" alt="user photo 3").testimonials__avatar 
                        .testimonials__name Johnny Doe
                        .testimonials__link lorem.com