extends templates/layout-base

block content
    include ./components/header
    include ./components/categories
    include ./components/about-music
    include ./components/singers
    include ./components/events
    include ./components/prices
    include ./components/sponsors
    include ./components/testimonials
    include ./components/carousel
    include ./components/contacts
